{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 fw-bold">External Visitors</h2>

<div class="card shadow-sm">
  <div class="card-body table-responsive">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th>Vehicle Number</th>
          <th>First Seen</th>
        </tr>
      </thead>
      <tbody>
        {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.vehicle }}</td>
          <td>{{ visitor.first_seen }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
